@import '@styles/base';

.adminCourses {
  width: 100%;
}
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn {
    background-color: rgb(6, 6, 101);
    height: fit-content;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
    border-radius: 10px;
  }
}
